@import url(./core.css);
@import url(./common.css);
@import url(./logo.css);
@import url(./bg.css);

/* * {outline: 1px solid red;} */

/*----------------------------section01---------------------------------*/
#bg {opacity: 0.5;}

#section01 {width: 90%; margin: 1% auto 0; display: flex; position: relative; z-index: 1;}

#me {width: 30%;}
.meimg {width: 100%; display: flex; align-items: center; justify-content: center;}
.meimg img {width: 50%;}

.tell {width: 100%; margin-top: 7%;}
.tellin {width: 100%; display: flex; margin-bottom: 2.5%;}
.tellin img {width: 15%;}
.telltxt {display: flex; align-items: center; margin-left: 2%; font-size: 1.5rem;}


#txt {width: 70%;}
.txtTop {width: 100%; display: flex; align-items: center;}
.txtTop {width: 80%; margin: 0 auto; display: flex; flex-direction: row; justify-content: space-between;}
.txtTop img {width: 7vw;}
.glueA {width: 7vw;}
.txtTop div img {width: 100%;}
.txtBottom {width: 100%;}

.txttxt {width: 80%; margin: 0 auto; display: flex; justify-content: space-between;}
.txttxt div {width: 7vw; text-align: center; font-size: 1.5rem;}
.txttt {opacity: 0; transition: 0.5s;}
.txttt01.active {opacity: 1; transition: 0.5s;}
.txttt02.active {opacity: 1; transition: 0.5s;}
.txttt03.active {opacity: 1; transition: 0.5s;}

.roket {cursor: cell;}
.puzzle {cursor: cell;}
.glueA {cursor: cell;}

/*-----------------------------roket-------------------------*/

.roket {width: 7vw; height: 7vw; background: url(../_img/_logo/roket-1.png) no-repeat center/cover;}
.roket img {width: 100%; transition: 0.3s;}
.roket.active img{position: relative; top: -7vw; transition: 0.5s;}
.roket:hover img {position: relative; top: -7vw; transition: 0.5s;}

/*----------------------===puzzle--------------------------------*/

.puzzle {width: 7vw; height: 7vw; background: url(../_img/_logo/puzzle-1.png) no-repeat center/cover;}
.puzzle img {width: 100%; transition: 0.3s; transform: translate(-2vw, -2vw);}
.puzzle.active img {width: 100%; transition: 0.3s; transform: translate(-2vw, -2vw);}
.puzzle:hover img {transform: translate(0, 0); transition: 0.3s;}

/*------------------------ability----------------------------*/

#ability {display: flex; flex-direction: column;}
.ability_list:first-child {margin: 0 2% 0.5%;}
.ability_list {display: flex; align-items: center; margin: 0.5% 2%;}
.abIcon {width: 6.5%; color: #f3f3f3;}
.abIcon img {width: 100%;}

.abBtn {border: none; width: 100%; ; margin: 0.5% 0; font-size: 2rem; animation: blink 1.5s linear infinite;}

@keyframes blink {
    50% {opacity: 0;}
}

.abilityBox {width: 60%; height: 80%; margin: 0 2%; display: flex; align-items: center; color: #f3f3f3;}
.abilityMid {width: 1px; text-indent: 10px; margin: 0 auto; position: relative; z-index: 1; opacity: 0;}
.abilityMid::after {content: '50%';}
.abilityLine {width: 0%; padding: 1% 0; background-color: #fef281; position: relative; transition: 0.5s; text-align: end;}

.abilityLine01.active {width: 80%;transition: 0.8s; color: #333;}
.abilityLine02.active {width: 70%; transition: 0.7s; color: #333;}
.abilityLine03.active {width: 100%; transition: 1s; color: #333;}
.abilityLine04.active {width: 90%; transition: 0.9s; color: #333;}
.abilityLine05.active {width: 70%; transition: 0.7s; color: #333;}
.abilityLine06.active {width: 15%; transition: 0.2s; color: #333;}

footer {margin-top: 5%;}

/* =====================keyframe================================*/

@media screen and  (min-width : 1260px) and (max-width : 1440px){
    #me {width: 31%;}
    #txt {width: 69%;}
}
@media screen and  (min-width : 1025px) and (max-width : 1259px){
    #me {width: 31%;}
    #txt {width: 69%;}

    .tellTxtin P {font-size: 1.6rem;}
    .abBtn {font-size: 1.6rem;}
    .telltxt {font-size: 1.4rem;}

    .txttxt div {font-size: 1.6rem;}
}
@media screen and  (min-width : 801px) and (max-width : 1024px){
    #me {width: 32%;}
    #txt {width: 68%;}

    .tellTxtin P {font-size: 1.4rem;}
    .abBtn {font-size: 1.4rem;}
    .telltxt {font-size: 1.2rem;}

    .txttxt div {font-size: 1.4rem;}
}
@media screen and (max-width: 800px) {
    #section01 {flex-direction: column;}
    #me {width: 100%; display: flex; margin: 5% 0;}
    
    .tell {justify-content: baseline; margin-top: 0;}
    .tellin img {width: 10%;}
    .telltxt {font-size: 1rem;}
    
    .txttxt div {font-size: 1rem;}

    #txt {width: 100%;}
    .abBtn {font-size: 1.1rem;}
    #ability {width: 100%;}

    .abilityBox {width: 80%;}
    .abIcon {width: 10%;}
    footer {margin-top: 5%;}
}
@media screen and (max-width: 680px) {
    .telltxt {font-size: 0.8rem;}
}
@media screen and (max-width: 380px) {
    .telltxt {font-size: 0.6rem;}
}