@import url(./core.css);
@import url(./common.css);
@import url(./logo.css);
@import url(./bg.css);

/* *{outline: 1px solid red;} */

/*==========================loading==========================================*/

#loading {width: 100%; height: 100vh;}
.logoColor {background-color: #fff;}
#loadlogo {position: absolute; left: 50%; top: 40%; transform: translate(-50%);}

/*=============================article------====================================*/
.main {position: relative; z-index: 1;}

/* body, html {background-color: #ffffff;} */

.swiper {width: 100%; height: 70vh;}
 
.swiper-slide {
    text-align: center;
    font-size: 16px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide p {font-size: 4rem; font-weight: bold;}
.swiper-slide a img {
display: block;
width: 100%;
/* height: 100%; */
/* object-fit: cover; */
}
.swiper-button-next {color: #fff; margin-top: 2vw; visibility: hidden;}
.swiper-button-prev {color: #fff; margin-top: 2vw; visibility: hidden;}
.swiper-pagination-bullet {width: 2vw; height: 2vw; margin: 0 0.2vw;}
.swiper-pagination-bullet:nth-child(1) {background-color: #000;}
.swiper-pagination-bullet:nth-child(2) {background-color: #1D4167;}
.swiper-pagination-bullet:nth-child(3) {background-color: #fee600;}
.swiper-pagination-bullet:nth-child(4) {background-color: #C60226;}
.swiper-pagination-bullet:nth-child(5) {background-color: #d67a27;}
.swiper-pagination-bullet:nth-child(6) {background-color: #f05254;}

.swiper-slide img:hover {opacity: 0.8;}

/*---------------------------slogan------------------------*/

.bigSlogan {color: #1D4167;}
.littleSlogan {font-size: 1rem; margin-top: -0.3rem; display: block;}
.colorY {color: #333;}

/*=====================ScrollBar==============================*/

body::-webkit-scrollbar {
    width: 0.6vw;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 5%; /* 스크롤바의 길이 */
    background: #C60226; /* 스크롤바의 색상 */
    border-radius: 5px;
}
body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255);  /*스크롤바 뒷 배경 색상*/
}

@media screen and (max-width: 800px) {
    .swiper-slide p {font-size: 3rem;}
}