
.logo {width: 10vw; height: 10vw; margin: auto;}
.logoBox {width: 5vw; height: 5vw;}

.logoBox01 {background-color: #1D4167; position: relative; top: -5vw; animation: logoB01 2s linear infinite;}
.logoBox02 {background-color: #fee600; position: relative; left: -5vw; animation: logoB02 2s linear infinite;}
.logoBox03 {background-color: #C60226; position: relative; top: -10vw; left: 10vw; animation: logoB03 2s linear infinite;}
.logoBox04 {background-color: #333; position: relative; top: -5vw; left: 5vw; animation: logoB04 2s linear infinite;} 

@keyframes logoB01{
    0% {top: -5vw;}
    20% {top: 0vw;}
    40% {top: 0vw;}
    60% {top: 0vw;}
    80% {top: 0vw;}
    100% {top: 0vw;}
}
@keyframes logoB02{
    0% {left: -5vw;}
    20% {left: -5vw;}
    40% {left: -5vw;}
    60% {left: -5vw;}
    80% {left: 0;}
    100% {left: 0;}
}
@keyframes logoB03{
    0% {left: 10vw;}
    20% {left: 10vw;}
    40% {left: 5vw;}
    60% {left: 5vw;}
    80% {left: 5vw;}
    100% {left: 5vw;}
}
@keyframes logoB04{
    0% {top: -5vw;}
    20% {top: -5vw;}
    40% {top: -5vw;}
    60% {top: -10vw;}
    80% {top: -10vw;}
    100% {top: -10vw;}
}


.logo01 {width: 3vw; height: 3vw;}
.logoBox00 {width: 1.5vw; height: 1.5vw;}

.logoBox05 {background-color: #1D4167; position: relative; top: -1.5vw; animation: logoB05 2s linear infinite;}
.logoBox06 {background-color: #fee600; position: relative; left: -1.5vw; animation: logoB06 2s linear infinite;}
.logoBox07 {background-color: #C60226; position: relative; top: -3vw; left: 3vw; animation: logoB07 2s linear infinite;}
.logoBox08 {background-color: #333; position: relative; top: -1.5vw; left: 1.5vw; animation: logoB08 2s linear infinite;} 

@keyframes logoB05{
    0% {top: -1.5vw;}
    20% {top: 0vw;}
    40% {top: 0vw;}
    60% {top: 0vw;}
    80% {top: 0vw;}
    100% {top: 0vw;}
}
@keyframes logoB06{
    0% {left: -1.5vw;}
    20% {left: -1.5vw;}
    40% {left: -1.5vw;}
    60% {left: -1.5vw;}
    80% {left: 0;}
    100% {left: 0;}
}
@keyframes logoB07{
    0% {left: 3vw;}
    20% {left: 3vw;}
    40% {left: 1.5vw;}
    60% {left: 1.5vw;}
    80% {left: 1.5vw;}
    100% {left: 1.5vw;}
}
@keyframes logoB08{
    0% {top: -1.5vw;}
    20% {top: -1.5vw;}
    40% {top: -1.5vw;}
    60% {top: -3vw;}
    80% {top: -3vw;}
    100% {top: -3vw;}
}

.logo02 {width: 5vw; height: 5vw;}
.logoBox000 {width: 2.5vw; height: 2.5vw;}

.logoBox09 {background-color: #1D4167; position: relative; top: -2.5vw; animation: logoB09 2s linear infinite;}
.logoBox10 {background-color: #fee600; position: relative; left: -2.5vw; animation: logoB10 2s linear infinite;}
.logoBox11 {background-color: #C60226; position: relative; top: -5vw; left: 5vw; animation: logoB11 2s linear infinite;}
.logoBox12 {background-color: #333; position: relative; top: -2.5vw; left: 2.5vw; animation: logoB12 2s linear infinite;} 

@keyframes logoB09{
    0% {top: -2.5vw;}
    20% {top: 0vw;}
    40% {top: 0vw;}
    60% {top: 0vw;}
    80% {top: 0vw;}
    100% {top: 0vw;}
}
@keyframes logoB10{
    0% {left: -2.5vw;}
    20% {left: -2.5vw;}
    40% {left: -2.5vw;}
    60% {left: -2.5vw;}
    80% {left: 0;}
    100% {left: 0;}
}
@keyframes logoB11{
    0% {left: 5vw;}
    20% {left: 5vw;}
    40% {left: 2.5vw;}
    60% {left: 2.5vw;}
    80% {left: 2.5vw;}
    100% {left: 2.5vw;}
}
@keyframes logoB12{
    0% {top: -2.5vw;}
    20% {top: -2.5vw;}
    40% {top: -2.5vw;}
    60% {top: -5vw;}
    80% {top: -5vw;}
    100% {top: -5vw;}
}



/*=-----------------VIPS LOGO---------------------------------*/

.logoVIP{
    background: url(../_img/_logo/VIPS02.png) no-repeat center/cover; background-color: #C60226;
    width: 4vw; height: 4vw; border-radius: 50%; box-shadow: 1px 1px 20px #fff; 
    position: relative; margin: 0 auto;
}
.logoVIP img {width: 100%;}
.vips01 {animation: logoVIP 45s linear infinite;}
.vips02 {position: relative; top: -5.6vw;}

@keyframes logoVIP {
    0% {transform: rotate(0);}
    100% {transform: rotate(-360deg);}
}

/*-----------------------------roket-------------------------*/
.hispacelogmanisbo {width: 100%; height: 10vw;}

.roket {width: 6vw; height: 6vw; background: url(../_img/_logo/roket-1.png) no-repeat center/cover;}
.roket img {width: 100%; transition: 0.3s;}
.roket:hover img {margin-top: -4vw; transition: 0.3s;}

/*----------------------===puzzle--------------------------------*/

.puzzle {width: 6vw; height: 6vw; background: url(../_img/_logo/puzzle-1.png) no-repeat center/cover;}
.puzzle img {width: 100%; transition: 0.3s; transform: translate(-3vw, -3vw);}
.puzzle:hover img {transform: translate(0, 0); transition: 0.3s;}